.topbar{
    background-color: black;
    text-align: center;
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10;
    }
.topbar > img {
    width: 100px;
    position: relative;
    top: 6px;
    }